<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">  
    <title>New Car</title>
</head>
<body>
    <h3>Add a new car using the form below</h3>
    <form action="">
        <label for="make">Make</label>
        <input type="text"></br>
        <label for="model">Model</label>
        <input type="text"></br>
        <label for="year">Year</label>
        <input type="text"></br>
        <label for="features">Important Features</label></br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
</body>
</html>