<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Cars</title>
</head>
<body>
    <h1>Here are some cars</h1>
    <img src="/images/cars1.jpeg" alt="">
    <img src="/images/cars2.jpeg" alt="">
    <img src="/images/cars3.jpeg" alt="">
    <img src="/images/cars4.jpeg" alt="">
    <img src="/images/cars5.jpeg" alt="">
    <img src="/images/cars6.jpeg" alt="">
</body>
</html>